<!doctype html>

<html>

<style>

form {

    margin: auto;

    width: 35%;

}

.result {

    margin: auto;

    width: 35%;

    border: 1px solid #ccc;

}

</style>

<head>

    <title>Bike Usage Model</title>

</head>

<form action="" method="POST">

    <fieldset>
    
        <legend>Input values:</legend>

        Resource

        <input name="idResource" type="number" required>

        <br>

        <br> Project:

        <input name="idProject" type="number" required>

        <br>

        <br> realWork:

        <input name="realCost" type="number" required>

        <br>


        <br> Role:

        <input name="idRole" type="number" required>

        <br>

        <br> dailyCost:

        <input name="dailyCost" type="number" required>

        <input type="submit">

    </fieldset>

</form>

<br>

<div class="result" align="center">
{{result}}

</div>
<iframe width="1024" height="804" src="https://app.powerbi.com/view?r=eyJrIjoiNDkwNDlkZDAtNzJhZi00ZTA3LWEyNmUtYzUyMTUxYTNlNjM5IiwidCI6IjllMzYyMjdiLTYyOTgtNDVmNy1hMDVhLWRiOTIxNDBkNjI5ZiJ9&pageName=ReportSection466015a9d20104047dbe" frameborder="0" allowFullScreen="true"></iframe>

</html>